<section>
    <div class="px-4 py-5 px-md-5 text-center text-lg-start">
        <div class="card py-5 px-md-5 text-center">
            <h3>PetAppoint</h3>
            <div class="card-body text-center">
                <button class="btn btn-primary" routerLink="/calendario">Calendario</button>
                <br/>
                <button class="btn btn-primary" routerLink="/consultas">Consultas</button>
                
                <ng-container *ngIf="esAdmin()">
                    <br/>
                    <button class="btn btn-primary" routerLink="/registro-usuario">Registrar</button>
                </ng-container>
                <br/>
                <button class="btn btn-primary" (click)="cerrarSesion()">Cerrar Sesion</button>
            </div>
        </div>

    </div>
</section>