section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.cerrarSesion{
    background: lightgreen;
}
.registro{
    background: #43b6d6;
}
.consultas{
    background: #24384d;
}
.calendario{
    background: lightblue;
}
mat-grid-tile{
    border-radius: 10px;
}
.card-body{
    margin-left: 20px;
    margin-right: 20px;
}
