section {
    background-image: url("/assets/images/depositphotos_134430528-stock-illustration-vector-pattern-seamless-of-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.container{
    display: flex;
}
#filtro_1{
    width: 70%;
}
#filtro_2{
    width: 20%;
    padding: 0 10px 0 10px;
}
#clear{
   height: 6.5vh; 
}
.consulta{
    background-color: aquamarine;
}
// ul{
//     list-style: none;
// }