<div class="container-fluid text-center pb-5">
    <!--<img src="assets/images/depositphotos_134430528-stock-illustration-vector-pattern-seamless-of-background.jpg" style="position: absolute;width: auto; height: auto;; z-index: -100; opacity: 0.6;">-->
    <div class="container p-0">
        <h3>PetAppoint</h3>
        <button class="btn btn-primary" routerLink="/calendario">Calendario</button>
        <button class="btn btn-primary" routerLink="/consultas">Consultas</button>
        <button class="btn btn-primary" routerLink="/registro-usuario">Registrar</button>
        <button class="btn btn-primary" routerLink="/inicio-sesion">Cerrar Sesion</button>
    </div>
</div>