<section>
    <div class="contenido px-4 py-5 px-md-5 text-center text-lg-start">
        <div class="card py-5 px-md-5 text-center">
            <h3>PetAppoint</h3>
            <div class="card-body text-center">
                <button class="btn btn-primary" routerLink="/calendario">Calendario</button>
                <br/>
                <button class="btn btn-primary" routerLink="/consultas">Consultas</button>
                <br/>
                <button class="btn btn-primary" routerLink="/registro-usuario">Registrar</button>
                <br/>
                <button class="btn btn-primary" routerLink="/inicio-sesion">Cerrar Sesion</button>
            </div>
        </div>
    </div>
</section>