.container-fluid{
    padding-top: 0.5%;
    padding-bottom: 25%;
    background-image:url("/assets/images/depositphotos_134430528-stock-illustration-vector-pattern-seamless-of-background.jpg");
    height: 47.84vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}