section {
    background-image: url("/assets/images/depositphotos_134430528-stock-illustration-vector-pattern-seamless-of-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

button{
    width: 100%;
}
.formulario{
    display: flex;
    flex-direction: column;
    
}
.card{
    width: 35%;
}