section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}


.formulario{
    display: flex;
    flex-direction: column;
    margin: 2vh;
}
.card{
    width: 35%;
}
.botones{
    text-align: end;
    padding: 10px;
}

.alert{
    width: 80%
}
.container-alert{
    display: flex;
    justify-content: center;
}
#registrar{
    margin-left: 1vh;
}