<section>
    <div class="card text-center">
        <!--CONTENEDOR-->
        <div class="container-fluid p-0">
            <h1 class="pt-3">Registro Veterinario</h1>
            <div class="container-alert">
                <!-- MENSAJES DESDE BACKEND -->
                <div *ngIf="error_id==2" class="alert alert-danger" role="alert">
                    Este email ya se encuentra registrado
                </div>
            </div>
            
            <!--FORMULARIO-->
            <form mat-dialog-content [name]="formRegistroUsuario" [formGroup]="formRegistroUsuario" class="formulario" (submit)="registrar()">
                <mat-form-field appearance="outline">
                    <mat-label>Ingrese Nombre</mat-label>
                    <input matInput formControlName="nombre" >
                    <mat-error *ngIf="formRegistroUsuario.get('nombre')?.hasError('required')">El nombre es requerido</mat-error>
                    <mat-error *ngIf="formRegistroUsuario.get('nombre')?.hasError('pattern')">El formato no es valido</mat-error>                        
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Ingrese Apellido</mat-label>
                    <input matInput formControlName="apellido" >
                    <mat-error *ngIf="formRegistroUsuario.get('apellido')?.hasError('required')">El apellido es requerido</mat-error>
                    <mat-error *ngIf="formRegistroUsuario.get('apellido')?.hasError('pattern')">El formato no es valido</mat-error>                        
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Ingrese Email</mat-label>
                    <input matInput formControlName="email" >
                    <mat-error *ngIf="formRegistroUsuario.get('email')?.hasError('required')">El email es requerido</mat-error>
                    <mat-error *ngIf="formRegistroUsuario.get('email')?.hasError('email')">El formato no es valido</mat-error>                        
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput formControlName="password"[type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-hint>Una mayuscula, un caracter especial, 3 numeros y letras</mat-hint>
                    <mat-error *ngIf="formRegistroUsuario.get('password')?.hasError('required')">La contraseña es requerida</mat-error>
                    <mat-error *ngIf="formRegistroUsuario.get('password')?.hasError('pattern')">El formato no es valido</mat-error>
                </mat-form-field>
                <mat-slide-toggle formControlName="admin">Administrador</mat-slide-toggle>
                <div class="botones">
                    <button mat-raised-button color="primary" routerLink="/home">Volver</button>
                    <button type="submit" mat-raised-button id="registrar">Registrar</button>
                </div>
            </form>
            
        </div>
    </div>
</section>