<section>
    <div class="card">
        <!--CONTENEDOR-->
        <div class="container-fluid p-4">
            <h1 class="pt-3">Registro Veterinario</h1>
            <!-- MENSAJES DESDE BACKEND -->
            <div *ngIf="error_id==1" class="alert alert-danger" role="alert">
                La cuenta con este email no existe
            </div>
            <div *ngIf="error_id==2" class="alert alert-danger" role="alert">
                Contraseña Incorrecta
            </div>
            <!--FORMULARIO-->

            <div mat-dialog-content [formGroup]="formRegistroUsuario" class="formulario" (ngSubmit)="register()">
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>Nombre usuario</mat-label>
                    <input  matInput placeholder="Juanito Ignacio" formControlName="nombre" MatFormFieldControl>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Apellido usuario</mat-label>
                    <input matInput placeholder="Arellano Gonzalez" formControlName="apellido">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Correo Electrónico</mat-label>
                    <input matInput placeholder="example@mail.com" formControlName="email">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput placeholder="9 9870 5673" formControlName="password">
                </mat-form-field>
                <!-- <mat-form-field>
                    <mat-slide-toggle>Administrador</mat-slide-toggle>
                </mat-form-field> -->
            </div>
            <div class="row">
                <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="recaptcha"
                    (success)="checkCaptcha($event)" class="col-12"></ngx-recaptcha2>
            </div>
            <br />
            <div class="row">
                <div class="col-4">
                    <button class="btn btn-primary" routerLink="/home">Atras</button>
                </div>
                <div class="col-4 col-md-4">
                    <button [disabled]="!captchaResolved" type="submit" class="btn btn-primary">Siguiente</button>
                </div>
                
            </div>
        </div>
    </div>
</section>