<section>
    <div class="card text-center">
        <!--CONTENEDOR-->
        <div class="container-fluid p-0">
            <h1 class="pt-3">Iniciar Sesión</h1>
            <!-- MENSAJES DESDE BACKEND -->
            <div class="container-alert">
                <!-- MENSAJES DESDE BACKEND -->
                <div *ngIf="error_id==3" class="alert alert-danger" role="alert">
                    La cuenta con este email no existe
                </div>
                <div *ngIf="error_id==2" class="alert alert-danger" role="alert">
                    Contraseña Incorrecta
                </div>
            </div>

            <!--FORMULARIO-->
            <form mat-dialog-content [name]="formInicioSesion" [formGroup]="formInicioSesion" class="formulario" (submit)="iniciarSesion()">
                <mat-form-field appearance="outline">
                    <mat-label>Ingrese Email</mat-label>
                    <input matInput formControlName="email" >
                    <mat-error *ngIf="formInicioSesion.get('email')?.hasError('required')">El email es requerido</mat-error>
                    <mat-error *ngIf="formInicioSesion.get('email')?.hasError('email')">El formato no es valido</mat-error>                        
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput formControlName="password"[type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="formInicioSesion.get('password')?.hasError('required')">La contraseña es requerida</mat-error>
                    <mat-error *ngIf="formInicioSesion.get('password')?.hasError('pattern')">La contraseña es requerida</mat-error>
                </mat-form-field>
                <div class="col-4 col-md-4 button">
                    <button type="submit" id="ingresar" mat-raised-button>Ingresar</button>
                </div>
            </form>
        </div>
    </div>
</section>