<section>
  <div class="px-4 py-5 px-md-5 text-center text-lg-start">
    <div class="card px-4 py-5 px-md-5 text-center">
      <div class="container">
        <button class="btn btn-primary" routerLink="/home">Volver</button>
        <mat-form-field appearance="outline">
          <mat-label>Elige una fecha</mat-label>
          <input (dateInput)="buscarFecha($event)" [matDatepickerFilter]="noWeekends" [min]="minDate" [max]="maxDate"
            matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class='demo-app-main'>
        <full-calendar #calendar [options]='calendarOptions'>
          <ng-template #eventContent let-arg>
            <b *ngIf="!arg.event.allDay">{{ arg.event.start | date: 'HH:mm a' }}</b>
            <b *ngIf="arg.event.allDay">{{ arg.event.title}}</b>
            <i>{{ arg.event.extendedProps.nombreAnimal }}</i>
          </ng-template>

        </full-calendar>
      </div>
    </div>
  </div>
</section>