<h1 mat-dialog-title>{{btnaccion}} Fecha</h1>
<div mat-dialog-content  [formGroup]="formCita">
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Nombre del Animal</mat-label>
        <input matInput placeholder="Negrita" formControlName="nombreAnimal">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Nombre del dueño</mat-label>
        <input matInput placeholder="Jose Toloza" formControlName="nombreCliente" >
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Rut del dueño</mat-label>
        <input matInput placeholder="20.567.324-2" formControlName="rutCliente" (input)="inputEvent($event)" >
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Telefono del dueño</mat-label>
        <input matInput placeholder="998705673" formControlName="telefonoCliente" >
    </mat-form-field>
    <mat-label><h1>Tipo de Hora</h1></mat-label>
    <mat-radio-group class="tipo-radio-group"formControlName="tipoConsulta">
        <mat-radio-button class="tipo-radio-button" *ngFor="let tipoConsulta of tipo" [value]="tipoConsulta" >
            {{tipoConsulta}}
        </mat-radio-button>
    </mat-radio-group>

    <mat-form-field appearance="outline">
        <mat-label>Elige una fecha</mat-label>
        <input formControlName="fecha" [matDatepickerFilter]="noWeekends" [min]="minDate" [max]="maxDate"matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Elige una hora</mat-label>
        <input type="time" matInput formControlName="hora" min="08:00" max="19:00">
     </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Descripcion</mat-label>
        <textarea rows="6" matInput formControlName="descripcion"></textarea>
      </mat-form-field>  
</div>
<!-- (click)="eliminarConsulta()" -->
<div mati-dialog-action class="botones">
    <button mat-raised-button color="warn" *ngIf="componenteId==1" (click)="eliminarConsulta()" mat-dialog-close>Borrar</button>
    <button style="margin-left: 8px;" mat-raised-button color="warn" mat-dialog-close>Cerrar</button>
    <button type="submit" style="margin-left: 8px;" mat-raised-button color="primary" (click)="agregar()" >{{btnaccion}}</button>
</div>