mat-form-field{
    width: 100%;
}
.tipo-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
.tipo-radio-button {
    margin: 5px;
}
textarea {
    resize: none;
}
.botones{
    text-align: end;
    margin: 5%;
}
#borrar{
    text-align: start;
}
